:root {
    --color-1: #053b3a;
    --color-2: #f4b000;
    --color-3: #336a40;
    --color-4: #353535;
    --color-5: #170080;
    --color-6: #006a4e;
    --color-7: #0667d6;
    --color-8: #9ae6ac;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

aside {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #F0F2F5; */
    background-color: var(--color-6);
}

header {
    text-align: center;
    padding: 20px 0;
}

.brand {
    width: 80px;
    border-radius: 50%;
}

.user {
    color: #ffffff;
    font-weight: bold;
    padding-top: 10px;
}

main {
    margin-left: 210px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    padding: 10px 20px;
    margin: 5px 0 5px 0;
    display: block;
    color: #ffffff;
}

nav a:hover {
    background-color: #014432;
}

nav .icon {
    width: 25px;
    float: left;
    padding-right: 10px;
}

.info {
    background-color: #f5f7fa;
    padding: 20px;
    margin-top: 10px;
}

table {
    margin: 15px 0;
    border-collapse: collapse;
}

table th {
    /* border: 1px solid #cccccc; */
    padding: 8px;
    background-color: #d8dadf;
}

table td {
    padding: 8px;
}

.btn {
    background-color: #1a6ed8;
    border-radius: 4px;
    color: #ffffff;
    padding: 5px;
}

.btn:hover {
    background-color: #1e7ff5;
}

article {
    padding-bottom: 100px;
}

footer {
    position: fixed;
    bottom: 0px;
    padding: 20px 0 20px 10px;
    background-color: #f5f7fa;
    width: 100%;
    border-top: 1px solid #d8dadf;
}

/* my class */
/* text */
.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

/* button */
.btn-submit {
    background-color: #03913e;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 4px 7px;
    border-radius: 10px;
}

.btn-submit:hover {
    background-color: #04692e;
}

.btn-reset {
    background-color: #b18b0e;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 4px 7px;
    border-radius: 10px;
}

.btn-reset:hover {
    background-color: rgb(107, 61, 0);
}

.btn-back {
    background-color: #0a1bb1;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 4px 7px;
    border-radius: 10px;
    box-shadow: -2px 2px 2px rgb(128, 128, 128);

}

.btn-back:hover {
    background-color: #081485;
}

.btn-tambah {
    background-color: #03913e;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 4px 7px;
    border-radius: 10px;
}

.btn-tambah:hover {
    background-color: #04692e;
}

.btn-edit {
    background-color: #b18b0e;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 0 10px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-edit:hover {
    background-color: #92730b;
}

.btn-delete {
    background-color: #a10d0d;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 0 10px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-delete:hover {
    background-color: #6e0909;
}

/* form */
.form {
    margin: 20px 0;
}

.form .table {
    background-color: #c5c9c7;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px 20px;
}

.form-login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-crud {
    margin: 20px 0;
    padding: 20px 0;
    padding-left: 30px;
    width: 95%;
    background-color: var(--color-8);
    box-shadow: -3px 3px 3px rgb(128, 128, 128);

}

.form-input {
    padding: 6px 0;
}

.form-input label {
    font-size: 14px;
    font-weight: 600;
    color: #234b2c;
}

.form-input input {
    margin-top: 5px;
    width: 270px;
    padding: 2px 5px;
    display: block;
    border: 1px solid #bdbaba;
    border-radius: 5px;
}

.form-input textarea {
    width: 270px;
    padding: 2px 4px;
    display: block;
    border: 1px solid #bdbaba;
    border-radius: 5px;
    margin-top: 5px;
}

.form-input select {
    margin-top: 5px;
    display: block;
    padding: 2px 4px;
    border: 1px solid #bdbaba;
    border-radius: 5px;
    width: 270px;
}

.form-search {
    padding-top: 50px;
    text-align: center;
}

.form-search select {
    padding: 2px 4px;
    border: 1px solid #bdbaba;
    border-radius: 30px;
}

/* table */
.table-crud {
    margin: 10px 0;
    width: 99%;
    box-shadow: -3px 3px 3px rgb(128, 128, 128);
}

.table-crud .header {
    background-color: var(--color-7);
    color: white;
    text-align: left;
    font-weight: bold;
}

.table-crud .body {
    font-weight: 600;
    color: rgb(58, 58, 58);
}

.table-crud .body:nth-child(even) {
    background-color: #f2f2f2;
}

.table-crud .body:hover {
    background-color: #aecdfc;
}

.table-crud td {
    /* padding: 0 1%; */
    border-left: none;
    border-right: none;
    margin-left: 1%;
}